.TitleBar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background : rgb(132, 178, 229);
  color : rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
}

.Content {
  margin-left:10px;
  margin-top:20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links {
  display: flex;
  flex-wrap: nowrap;
}
.links > div {
  background-color: #f1f1f1;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
}
a.NavLinkDiv {
display: block;
text-decoration: none;
}

.bio {
  font-size: 20px;
  text-align: center;
}

.article {
  margin-top: 5%;
  margin-left: inherit;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.article {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
