.title {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    color: mediumpurple;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    margin: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.section {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.para {
    margin-top:20px;
    font-size: 16px;
}